*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Merriweather Sans",sans-serif;
    color:#4c6986 ;
}

.wrapper{
    height: 1000px;
    
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding:40px;

}

h1{
    font-size: 70px;
    font-weight: bold;

}

.restart {
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid #000000;
    transition: all 0.2s ease;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
    
}

.restart:hover{
background: #4c6986;
color:rgb(168, 250, 236);
}

.header{
    display: flex;
    color: #9a9a9a;
    font-size: 24px;

}

.header .player-x{
    flex:1;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid rgb(255, 255, 255);
    padding-bottom: 8px;
}

.header .player-o{
    flex:1;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid rgb(255, 255, 255);
    padding-bottom: 8px;
}

.player-x.active{
    color: #42bed7;
    border-color: #42bed7;
}

.player-o.active{
    color: #c10ad1;
    border-color: #c10ad1;
}

.game{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.board{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 0px;
    flex-grow: 1;
}

.board-tile{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    cursor: pointer;
    
}

.board-tile:not(:nth-child(3n)){
    border-right: 3px solid rgb(211, 211, 11,.5);
    
}

.board-tile:not(:nth-last-child(-n+3)){
    border-bottom: 3px solid rgb(211, 211, 11,.5);
}

.board-tile:hover{
    background-color: #eeeeee;
}

.tile-x{
    color: #42bed7;
}

.tile-o{
    color:#c10ad1;
}

.tile-winner span{
    color: #23ce6b;

}

.title{
    max-width: 500px;
}

@media only screen and (max-width:1200px){
    .wrapper{
        flex-direction: column;
    }

    .left{
        margin-bottom: 50px;
    }
}